.imagen1{
	width:100px; 
	height:100px;
	float: left;
	position: relative;
	left:100px; 

	top:7px
 } 



.imagen2{
	width: 150px;
	height: 90px;
	float: left;
	position: relative;
	left: 695px;
	top: 14px;
	/*float= es cojer la caja y meta hacia la izquierda */
}
 

.imagen3{
	border: 2px solid black; 
	border-right-width: 4px;
	border-left-width: 4px;
	background: #fff;
	height: 70px;
	width: 300px;
	float: left;
	position: relative;	
	left:693px;
	top: -25px;
	border-radius: 1em;
	margin-top:40px; 
	
 }

 .posicioIMp{
	border: 2px solid black;
	border-right-width: 4px;
	border-left-width: 4px;
	background: #fff;
	position: relative;
	border-radius: 1em;
	margin-top: 18px;
	margin-left: 113PX;
	top: 106px;
	width: 1143PX;
	height: 47px;


}

.letra{
	font: 34px arial;
	text-align: center;
}
 
 .cuidad{
	position:relative;
	left:  -415px;
 }
 .entra1{ 	
 	position: relative;
 	left: -415px
 }

 .entra2{ 	
 	position: relative;
 	left: -224px;
 	top: -43px;	
 }

 .fecha{

 	position: relative;
 	left: -224px;
 	top: -45px;	
 	width: 217px;

 }
 .cargo{
 	position: relative;
 	left: 18px;
	top: -88px;
 }
 .cargo2{
 	position: relative;
 	left: 13px;
	top: -90px;
	width: 413px
 }
 .codigo
 {
 	position: relative;
 	right: -883px;
	top: -132px;
}

.codigo2
 {
 	position: relative;
 	right: -883px;
	top: -132px;
	width: 249px;
}

.posicioIMp2{
	border: 2px solid black;
	border-right-width: 4px;
	border-left-width: 4px;
	background: #fff;
	position: relative;
	border-radius: 1em;
	margin-top: 18px;
	margin-left: 113PX;
	top: 90px;
	width: 1143PX;
	height: 301px;
}
.apellido{
	position: relative;
 	right: 415px;
	top: 0px;
}
.apellido2{
	position: relative;
 	right: 415px;
	top: 0px;
	width: 166px;
}



.apellidp1{
	position: relative;
 	right: -218px;
	top: -42px;
}

.apellidp2{
	position: relative;
 	right: -218px;
	top: -42px;
	width: 166px;
}

.nombre{
	position: relative;
 	right: -414px;
	top: -84px;	
}

.nombre2{
	position: relative;
 	right: -414px;
	top: -84px;	
}

.fotoimagen{
	width: 200px;
	height: 200px;
	position: relative;
	left: 946px;
	top: -130px;
}