/*primera parte*/
.numero7{
	position: relative;
 	 /*right: -52px;
	 top: -110px;*/
	 right: -103px;
	 top: -220px;
 	 width: 60px;
	 height: 40px;
}
.hr{
	  background-color: #DAE0E7;    
	  font: oblique 120% sans-serif bold;
	 	text-align: center;
}


.numero8{
	 position: relative;
 	 /*right:-84px;
	 top: -130px;
	 */
	 right: -169px;
	 top: -260px;
 	 width: 60px;
	 height: 40px;
}

.numero9{ 	
	 position: relative;
 	 /*right: -116px;
	 top: -150px;
 	 */
 	 right: -234px;
	top: -300px;
 	 width: 60px;
	 height: 40px;
 	 
}
/*segunda aprte*/
.numero4{
	position: relative;
	/*right: -52px;
	top: -27px;*/
	right: -103px;
	top: -55px;
	width:60px;
	height:40px;
}

.numero5{
	position: relative;
	/*right: -84px;
	top: -47px;*/
	right: -169px;
	top: -95px;
	width:60px;
	height:40px;
}
.numero6{
	position: relative;
	/*right: -116px;
	top:-67px;*/
	right: -234px;
	top: -135px;
	width:60px;
	height:40px;
}


.numero1{
	position: relative;
	/*right: -52px;
	top: 56px;*/
	right: -102px;
	top: 109px;
	width:60px;
	height:40px
}
.numero2{
	position: relative;
	/*right: -84px;
	top: 36px;*/
	right: -169px;
	top: 69px;
	width: 60px;
	height: 40px;
}

.numero3{
	position: relative;
	/*right: -116px;
	top: 16px;*/
	right: -234px;
	top: 29px;
	width: 60px;
	height: 40px;
}

.numero0{
	position: relative;
	/*right: -149px;
	top: -147px;*/
	right: -299px;
	top: -295px;
	width: 60px;
	height: 40px;	
}

.letraC{
	position: relative;
		/*right: -182px;
	top: -247px;*/
	right: -299px;
	top: -540px;
	width: 60px;
	height: 40px;	

}
.igual{
	position: relative;
	right: -299px;
	top: -491px;
	width: 191px;
	height: 40px;	
	
}

.suma{
	position: relative;
	/*right: -149px;
	top: -190px;*/
	right: -363px;
	top: -335px;
	width: 60px;
	height: 40px;
}

.Resta{
	position: relative;
	/*right: -182px;
	top: -210px;*/
	right: -429px;
	top: -375px;

	width: 60px;
	height: 40px;
}

.multipicacion{
	position: relative;	
	/*right: -214px;
	top: -207px;*/
	right: -363px;
	top: -460px;
	width: 60px;
	height: 40px;
}

.divicion{
	position:relative;
	right: -429px;
	top: -500px;
	width: 60px;
	height: 40px;	

}


.pantalla{
	width:384px;
 	height:50px;
 	background:rgb(219, 218, 226) ; 
 	border:1px solid rgb(182, 170, 228);	

	position: relative;
	top: 15px;
	right: -103px;
	
}


/*"*/